.site-send-message-form {
  padding: 1em;
}

.site-send-message-form__title {
  font-size: 1.5em;
}

.site-send-message-form__submit-message {
  margin: 1em 0;
  font-size: 1em;
  background: #f5f5f2;
  padding: 1em;
  color: #000;
}

.site-send-message-form__validation-message {
  font-size: 1em;
  color: #ff0000;
  background: #f1f1f1;
  padding: 10px;
  margin: -14px 0 20px 0;
}

.site-send-message-form .form-type-checkbox {
  display: initial;
}

.site-send-message-form__data-policy {
  width: inherit;
}

.site-send-message-form__input-item {
  width: 100%;
}

.view-last-reports-messages__header-item {
  text-align: center;
}

.view-last-reports-messages__mid {
  width: 100px;
}

.view-last-reports-messages__created {
  width: 200px;
}

.view-last-reports-messages__mail {
  width: 200px;
}

.view-last-reports-messages__subject {
  font-size: 1.5em;
  font-weight: 700;
  margin: 1rem 0;
}

.view-last-reports-messages__text {
  margin-bottom: 1rem;
}

.view-last-reports-messages__data-name {
  font-weight: 700;
}
