{% if name or phone or mail or data or form_name %}
<h2 style="margin-bottom: 20px">{{ 'Contact information'|t }}</h2>
<ul style="margin-bottom: 40px">
  {% if name %}
    <li><b>{{ 'Sender'|t }}:</b> {{ name }}</li>
  {% endif %}

  {% if phone %}
    <li><b>{{ 'Phone number'|t }}:</b> <a href="tel:{{ phone }}" rel="nofollow noopener" target="_blank">{{ phone }}</a></li>
  {% endif %}

  {% if mail %}
    <li><b>E-mail:</b> <a href="mailto:{{ mail }}" rel="nofollow noopener" target="_blank">{{ mail }}</a></li>
  {% endif %}

  {% for name, value in data %}
    {% if value %}
      <li><b>{{ name }}:</b> {{ value }}</li>
    {% endif %}
  {% endfor %}

  {% if form_name %}
    <li><b>{{ 'The name of the form'|t }}:</b> {{ form_name }}</li>
  {% endif %}
</ul>
{% endif %}

{% if text %}
  {{- text|raw -}}
{% endif %}
