<table class="view-last-reports-messages">
  <thead>
    <th class="view-last-reports-messages__header-item view-last-reports-messages__mid">Номер</th>
    <th class="view-last-reports-messages__header-item view-last-reports-messages__created">Дата создания</th>
    <th class="view-last-reports-messages__header-item view-last-reports-messages__mail">E-mail получателя</th>
    <th class="view-last-reports-messages__header-item view-last-reports-messages__content">Содержимое</th>
  </thead>
  <tbody>
    {% for mid, item in data %}
      <tr>
        <td>{{ mid }}</td>
        <td>{{ item.created }}</td>
        <td>
          {{ item.mail_delivery }}
        </td>
        <td>
          {% if item.subject %}
            <div class="view-last-reports-messages__subject">
              {{ item.subject }}
            </div>
          {% endif %}
          {% if item.text %}
            <div class="view-last-reports-messages__text">{{ item.text }}</div>
          {% endif %}
          {% for name, value in item.data %}
            {% if value %}
              <div class="view-last-reports-messages__data">
                <span class="view-last-reports-messages__data-name">{{ name }}:</span>
                {{ value }}
              </div>
            {% endif %}
          {% endfor %}
          {% if item.name %}
            <div class="view-last-reports-messages__data">
              <span class="view-last-reports-messages__data-name">{{ 'Sender'|t }}:</span>
              {{ item.name }}
            </div>
          {% endif %}
          {% if item.mail %}
            <div class="view-last-reports-messages__data">
              <span class="view-last-reports-messages__data-name">{{ 'E-mail'|t }}:</span>
              <a target="_blank" href="mailto:{{ item.mail }}">{{ item.mail }}</a>
            </div>
          {% endif %}
          {% if item.phone %}
            <div class="view-last-reports-messages__data">
              <span class="view-last-reports-messages__data-name">{{ 'Phone number'|t }}:</span>
              <a target="_blank" href="tel:{{ item.phone }}">{{ item.phone }}</a>
            </div>
          {% endif %}

          <div class="view-last-reports-messages__data">
            <span class="view-last-reports-messages__data-name">{{ 'The message was sent'|t }}:</span>
            {% if item.status %}
              <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" viewbox="0 0 24 24" fill="green"><path d="M20.285 2l-11.285 11.567-5.286-5.011-3.714 3.716 9 8.728 15-15.285z"/></svg>
            {% endif %}
          </div>

          <div class="view-last-reports-messages__data">
            <span class="view-last-reports-messages__data-name">{{ 'The sender was authorized'|t }}:</span>
            {% if item.uid %}
              <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" viewbox="0 0 24 24" fill="green"><path d="M20.285 2l-11.285 11.567-5.286-5.011-3.714 3.716 9 8.728 15-15.285z"/></svg>
            {% else %}
              <svg width="12" height="12" viewbox="0 0 24 24"><path fill="currentColor" d="M19,6.41L17.59,5L12,10.59L6.41,5L5,6.41L10.59,12L5,17.59L6.41,19L12,13.41L17.59,19L19,17.59L13.41,12L19,6.41Z"/></svg>
            {% endif %}
          </div>

        </td>
      </tr>
    {% endfor %}
  </tbody>
</table>
